body,
html {
  background-color: var(--pico-background-color);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 16px;
  box-sizing: border-box;
}

.visualizer {
  background-color: var(--pico-card-background-color);
}
